# Python Virtual Environment
venv/
.venv/

# Python Bytecode and Caches
*.py[cod]
__pycache__/
.pytest_cache/

# IDE / Editor Files (VSCode, PyCharm/IntelliJ)
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

*.env
.env.*
secrets.yaml
credentials.json
credentials.yml